[project]
name = "24-718-computational-fluid-dynamics-project"
version = "0.0.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numba>=0.63.1",
    "numpy>=2.2.6",
    "rich>=14.2.0",
    "scipy>=1.15.3",
    "tqdm>=4.67.1",
]
